name: Release Helm Charts

on:
  push:
    branches:
      - main
    paths:
      - 'charts/**'
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.17.0

      - name: Package Helm Charts
        run: |
          for chart in charts/*; do
            if [ -d "$chart" ]; then
              echo "Packaging $chart..."
              tar -czf "docs/$(basename $chart)-$(grep '^version:' $chart/Chart.yaml | awk '{print $2}').tgz" -C charts $(basename $chart)
            fi
          done

      - name: Update Helm Repository Index
        run: |
          helm repo index docs/ --url https://lcwsre.github.io/charts/

      - name: Commit and Push Changes
        run: |
          git add docs/
          git diff --staged --quiet || git commit -m "chore: update helm charts and repository index [skip ci]"
          git push

